@include theme() {
    &_footer {
        @include fullWidth;
        margin-top: 120px;

        &_content {
            background-color: $color-black;
            @include relative;

            @include setResponsiveDesign($breakpoint-tablet) {
                margin: 40px;
            }

            .background {
                @include absoluteFull;
                @include backgroundImage("../../images/footer.jpg");
                z-index: 1;
                opacity: 0.2;
            }

            article {
                @include containerWidth;
                @include relative;
                z-index: 2;
                color: $color-white;
                @include flex;
                gap: 140px;
                padding: 40px;
            }

            &_row1 {
                @include flex1;
                @include flex;
                gap: 40px;
                margin-top: 40px;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    justify-content: space-between;
                }

                &_info {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flexBasis(unset);
                        width: 40%;
                    }

                    &_title {
                        margin-bottom: 40px;

                        img {
                            @include setResponsiveDesign($breakpoint-mobile) {
                                width: 410px;
                            }
                        }
                    }

                    &_text {
                        line-height: 1.6em;
                    }
                }

                &_address {
                    @include flex1;
                    font-family: $font-bebas-neue;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flexBasis(unset);
                        width: 40%;                        
                        font-size: 1.4em;
                    }

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        width: 30%;
                    }

                    p {
                        line-height: 1.8em;

                        i {
                            @include flex;
                            display: inline-flex;
                            margin-right: 20px;
                            width: 20px;
                            font-size: 1.2em;
                        }
                    }
                }
            }

            &_row2 {
                @include flex1;
                @include flex;
                gap: 20px;
                flex-direction: column-reverse;

                @include setResponsiveDesign($breakpoint-tablet) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                &_copy {
                    @include flex1;
                    font-size: 1em;
                    font-family: $font-bebas-neue;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        @include flexBasis(unset);
                    }
                }

                &_social {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        @include flexBasis(unset);
                    }

                    ul {
                        @include flex;
                        gap: 20px;

                        li {
                            font-size: 1.2em;
                            color: $color-black;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            
                            background-color: $color-white;

                            @include flex;
                            @include rounded;

                            a {
                                color: $color-black;
                            }
                        }
                    }
                }
            }
        }

        &_attribution {
            text-align: center;
            margin: 20px 0;
            font-family: $font-bebas-neue;
            font-size: 0.8em;            

            @include setResponsiveDesign($breakpoint-tablet) {
                margin-top: 0;
            }

            a {
                color: $color-fire-brick;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}