@include theme() {
    &_menu {
        @include fullWidth;

        &_content {
            @include containerWidth;

            &_title {
                text-align: center;

                .subtitle {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: $color-xanthous;
                    font-family: $font-bebas-neue;
                    font-size: 1.4em;
                    color: $color-bistre;
                    margin-bottom: 20px;
                }

                .title {
                    margin-bottom: 20px;
                }
            }

            &_info {
                text-align: center;
                @include containerWidth(900px, 0, 0);
                margin-bottom: 60px;
            }

            &_menu {
                @include flex(center, flex-end);
                gap: 60px;

                @include containerWidth($breakpoint-mobile, 0, 0);

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    gap: 20px;
                    max-width: 100%;
                }

                &_item {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex3(20px);
                    }

                    &_title {
                        text-align: center;
                        margin-bottom: 20px;

                        @include setResponsiveDesign($breakpoint-mobile) {
                            padding: 0 30px;
                        }

                        h2 {
                            font-family: $font-bebas-neue;
                            font-size: 1.6em;
                            color: $color-bistre;
                        }
                    }

                    &_desc {
                        text-align: center;
                        margin-bottom: 30px;

                        @include setResponsiveDesign($breakpoint-mobile) {
                            padding: 0 30px;
                        }
                    }

                    &_action {
                        text-align: center;

                        a {
                            display: inline-block;
                            background-color: $color-fire-brick;
                            color: $color-white;
                            font-family: $font-alfa-slab-one;
                            text-transform: uppercase;
                            padding: 12px 24px;
                            border: 1px solid transparent;

                            @include transition;

                            &:hover {
                                color: $color-fire-brick;
                                background-color: transparent;
                                border-color: $color-fire-brick;
                            }
                        }
                    }
                }
            }
        }
    }
}