@include theme() {
    &_reservation {
        @include fullWidth;
        @include relative;
        margin-top: 180px;

        &_images {
            @include absoluteFull(50%);
            transform: translateY(-50%);
            z-index: -1;
            height: 160%;
            overflow: hidden;

            img {
                width: auto;

                &.burger {
                    height: 100px;
                    @include absolute(80px, -40px);

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        height: 300px;
                        top: 0;
                    }
                }
    
                &.sauce {
                    height: 200px;
                    @include absolute(30%, 10px);

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        height: 300px;
                        left: 20%;
                    }
                }
    
                &.lunch {
                    height: 200px;
                    @include absolute(unset, unset);
                    right: -40px;
                    bottom: 5%;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        height: 450px;
                        right: -100px;
                    }
                }
            }
        }

        &_content {
            @include containerWidth;

            &_title {
                text-align: center;
                margin-bottom: 60px;

                p {
                    font-family: $font-bebas-neue;
                    font-size: 1.4em;
                    color: $color-bistre;
                }
            }

            &_form {
                @include flex;
                gap: 30px;
                @include containerWidth($breakpoint-mobile, 0, 0);

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include containerWidth(780px, 0, 0);
                }

                input {
                    display: block;
                    @include flex1;
                    padding: 16px;
                    font-family: $font-bebas-neue;
                    font-size: 1em;

                    outline: none;
                    border: 1px solid #999;

                    @include borderRadius(4px);

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flex2(30px);
                    }
                }

                button {
                    display: block;
                    @include flex1;
                    padding: 16px;
                    border: 1px solid transparent;
                    background-color: $color-fire-brick;
                    color: $color-white;
                    font-family: $font-alfa-slab-one;
                    font-size: 1em;

                    @include borderRadius(4px);
                    @include transition;

                    cursor: pointer;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flex2(30px);
                    }

                    &:hover {
                        background-color: transparent;
                        color: $color-fire-brick;
                        border-color: $color-fire-brick;
                    }
                }
            }
        }
    }
}