@include theme() {
    &_slides {
        @include fullWidth;
        margin: 80px 0;

        &_content {
            @include containerWidth;

            padding: 30px;
            background-color: $color-white;
            box-shadow: 10px 10px 50px $color-black-shadow;

            @include relative;

            &_slide {
                @include flex(center, flex-start);
                flex-direction: column-reverse;

                @include containerWidth($breakpoint-mobile-landscape, 0, 0);

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    max-width: 100%;
                    flex-direction: row;
                }

                &_info {
                    @include flex1;
                    padding: 30px 0;

                    @include setResponsiveDesign($breakpoint-mobile) {
                        padding: 30px;
                    }

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex2;
                    }

                    .subtitle {
                        font-family: $font-bebas-neue;
                        font-size: 1.4em;
                        color: $color-bistre;
                    }

                    h1 {
                        font-size: 2.6em;
                        margin-bottom: 20px;
                    }

                    &_text {
                        font-size: 1em;
                        line-height: 1.6em;
                    }
                }

                &_image {
                    @include flex1;
                    overflow: hidden;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex2;
                    }

                    &:hover img {                        
                        transform: scale(1.2);
                    }

                    img {
                        @include transition;
                    }
                }
            }

            &_nav {
                @include flex(flex-start);
                gap: 10px;

                @include absolute(unset, 30px);
                bottom: 30px;
                
                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    left: 60px;
                    bottom: 60px;
                }

                span {
                    width: 20px;
                    height: 20px;
                    display: block;
                    background-color: #CCC;
                    cursor: pointer;

                    @include rounded;

                    &.active {
                        background-color: $color-xanthous;
                    }
                }
            }
        }
    }
}