* {
    margin: 0;
    padding: 0;

    @include setBrowsersCore(box-sizing, border-box);
}

body {
    font-family: $font-montserrat;
    color: $color-onyx;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-alfa-slab-one;
        color: $color-bistre;
    }

    a {
        text-decoration: none;
    }

    ul {
        li {
            list-style-type: none;
        }
    }

    img {
        display: block;
        @include fullWidth;
    }
}