// THEME
@mixin theme() {
    .bh {
        @content;
    }
}

// CONTAINER WIDTH
@mixin containerWidth($maxWidth: $container-max-width, $paddingX: 20px, $paddingY: 0) {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: $paddingY $paddingX;
}

@mixin fullWidth() {
    width: 100%;
}

// BROWSERS CORE
@mixin setBrowsersCore($attr, $value, $cores: $browsers-core-default) {
    #{$attr}: #{$value};

    @each $core in $cores {
        -#{$core}-#{$attr}: #{$value};
    }
}

// BORDER RADIUS
@mixin borderRadius($radius: 8px) {
    @include setBrowsersCore(border-radius, $radius);
}

@mixin rounded() {
    @include borderRadius(50%);
}

// FLEXBOX
@mixin flex($justifyContent: center, $alignItems: center, $flexWrap: wrap) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin flexBasis($basis, $gap: 0) {
    @if $gap != 0 {
        flex-basis: calc($basis - $gap);
    }

    @else {
        flex-basis: $basis;
    }
}

@mixin flex1($gap: 0) {
    @include flexBasis(100%, $gap);
}

@mixin flex2($gap: 0) {
    @include flexBasis(calc(100% / 2), $gap);
}

@mixin flex3($gap: 0) {
    @include flexBasis(calc(100% / 3), $gap);
}

@mixin flex4($gap: 0) {
    @include flexBasis(calc(100% / 4), $gap);
}

// POSITION
// Relative
@mixin relative() {
    position: relative;
}

// Absolute
@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absoluteFull($top: 0, $left: 0) {
    @include absolute($top, $left);
    @include fullWidth;
    height: 100%;
}

// BACKGROUND IMAGE
@mixin backgroundImage($image: "", $repeat: no-repeat, $size: cover, $position: center center) {
    @if $image != "" {
        background-image: url($image);
    }

    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

// TRANSITION
@mixin transition($property: all, $duration: 0.3s, $timingFunction: ease, $delay: 0s) {
    transition: $property $duration $timingFunction $delay;
}