// COLORS
// Primary:
$color-xanthous: #FFC045;
$color-bistre: #3D2514;
$color-fire-brick: #BF2222;

// Neutral:
$color-onyx: #3D3D3D;
$color-white: #FFF;
$color-black-shadow: rgba(0, 0, 0, 0.2);

// FONTS
$font-montserrat: 'Montserrat', sans-serif;
$font-bebas-neue: 'Bebas Neue', cursive;
$font-alfa-slab-one: 'Alfa Slab One', cursive;

$font-size-default: 1rem;

//CONTAINER
$container-max-width: 1328px;

// BROWSERS CORE
$browsers-core-default: (
    "moz",
    "webkit"
);