@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3D3D3D;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Alfa Slab One", cursive;
  color: #3D2514;
}
body a {
  text-decoration: none;
}
body ul li {
  list-style-type: none;
}
body img {
  display: block;
  width: 100%;
}

.bh_header {
  width: 100%;
  padding: 50px 0;
}
.bh_header_content {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bh_header_content_logo {
  flex-basis: 50%;
}
.bh_header_content_logo h1 {
  display: none;
}
.bh_header_content_logo img {
  width: 260px;
}
.bh_header_content_nav {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.bh_header_content_nav_contact {
  flex-basis: 100%;
}
.bh_header_content_nav_contact p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  color: #3D2514;
}
.bh_header_content_nav_contact img {
  display: inline-block;
  width: 40px;
  margin-right: 20px;
}
.bh_header_content_nav_menu {
  flex-basis: 100%;
}
.bh_header_content_nav_menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 60px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.4em;
}
.bh_header_content_nav_menu ul li a {
  color: #3D2514;
}